<nav>
    <a href="{{iLogo.href}}" title="{{iLogo.alt}}"><img src="{{iLogo.img}}" alt="{{iLogo.alt}}"></a>
    <a [routerLink]="[home.href]">{{home.title}}</a> | 
    <a *ngIf="this.authService.isLoggedIn" [routerLink]="[pisos.href]">{{pisos.title}}</a> | 
    <a [routerLink]="[about.href]">{{about.title}}</a> | 
    <a  *ngIf="!this.authService.isLoggedIn" [routerLink]="[login.href]">{{login.title}}</a> | 
    <a  *ngIf="!this.authService.isLoggedIn" [routerLink]="[register.href]">{{register.title}}</a> | 
    <a  *ngIf="this.authService.isLoggedIn" [routerLink]="[profile.href]">{{profile.title}}</a> | 
    
    
    
    <a href='#'(click)="logout()" *ngIf="this.authService.isLoggedIn" role="button">Logout</a>
</nav>
