.content-profile {
    padding: 30px 50px;
    .card {
        display: flex;
        justify-content: left;
        .foto-profile {
            width: 200px;
            height: 250px;
            background-color: #ccc;
            border: 1px #333 solid;
        }
        .datos {
            padding: 0 30px;
        }
    }
}