.grid-content {
    a {
        text-decoration: none;
        color: #145BC7;
    }
    p {
        margin: 10px 0;
    }
    padding: 50px;
    
    .grid-card {
        background-color: #DDD;
        padding: 10px;
        margin: 5px 0;
        display: flex;
        justify-content:flex-start ;
        .grid-foto {
            width: 200px;
            img {
                width: 100%;
            }
        
            }
        .grid-detalles {
            padding-left: 15px;
            .precio {
                font-weight: bold;
            }
    }
    }
}